In [27]:
import pandas as pd
import numpy as np

In [ ]:
# Install UC Irvine Machine Learning Repository
!pip install ucimlrepo

In [ ]:
# import fetch_repo function from ucimlrepo
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
tetouan = fetch_ucirepo(id=849)
  
# data (as pandas dataframes) 
X = tetouan.data.features 
y = tetouan.data.targets 
  
# metadata 
print(tetouan.metadata) 
  
# variable information 
print(tetouan.variables)

In [ ]:
tetouan.data.features.head()

In [ ]:
y.head()

In [ ]:
# Check for duplicates and nulls

In [ ]:
X.duplicated().sum()

In [ ]:
y.duplicated().sum()

In [ ]:
X.isnull().sum()

In [ ]:
y.isnull().sum()

In [ ]:
def explore_df(df):
    """
    Explores the dataframe via its dims, dtypes, null counts of each column,
    and value counts for each columns

    Arguments: df (pd.Dataframe) - Dataframe to explore
    Returns: None
    """
    sep_lines = '\n' + '-'*50 + '\n'
    end_lines = '\n' + '='*50 + '\n'
    print("Dataframe shape: ")
    print(f"{df.shape[0]} rows X {df.shape[1]} columns", end=end_lines)

    print("Dataframe data types")
    print(df.dtypes,end=end_lines)

    print(f"Null Count:")
    null_df = pd.concat([df.isnull().sum(), df.isnull().mean()],axis=1)
    null_df.columns = ['count','normalize_count']
    print(null_df, end=end_lines)

    print(f"{df.columns}", end=end_lines)
    print("Value counts for each  categorical column:")
    cat_from_num = df.select_dtypes("number").loc[:, df.select_dtypes("number").nunique() < 20]
    df_categorical = pd.concat([df.select_dtypes("object"), cat_from_num], axis=1)
    for col in df.columns:
        print(df[col].value_counts(dropna=False),end=sep_lines)

    print(end_lines.strip('\n'))
    print(df.describe(include='all'))

In [ ]:
explore_df(X)

In [ ]:
explore_df(y)

In [ ]:
# Convert X Datetime column timestamps into datetime format
X.loc[:, 'DateTime_cleaned'] = pd.to_datetime(X['DateTime'])
# Create new columns to show day of the week and category of the day from the DateTime_cleaned column
X.loc[:, 'DayOfWeek'] = X['DateTime_cleaned'].dt.day_name()
def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

# Apply the function to create the 'TimeOfDay' column
X.loc[:, 'TimeOfDay'] = X['DateTime_cleaned'].dt.hour.apply(categorize_time_of_day)

In [ ]:
tetouan_df = pd.concat([X,y],axis=1)

In [ ]:
# tetouan_df_cleaned = tetouan_df.drop(columns=['DayCategory','DateTime2'],inplace=True)

# Get_dummies for categorical columns
tetouan_df_cleaned = pd.get_dummies(tetouan_df, columns=['DayOfWeek','TimeOfDay'])
# Reorganize the 3 power consumption to the end of the column list 
# Ensure all columns exist in the DataFrame
expected_columns = [
    'DateTime_cleaned', 'Temperature', 'Humidity', 'Wind Speed',
    'DayOfWeek_Monday', 'DayOfWeek_Tuesday', 'DayOfWeek_Wednesday', 
    'DayOfWeek_Thursday', 'DayOfWeek_Friday', 'DayOfWeek_Saturday', 
    'DayOfWeek_Sunday', 'TimeOfDay_Morning', 'TimeOfDay_Afternoon', 
    'TimeOfDay_Evening', 'TimeOfDay_Night', 
    'Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption'
]

# Select only the expected columns
tetouan_df_cleaned = tetouan_df_cleaned[expected_columns]

# Display the first few rows of the cleaned DataFrame
tetouan_df_cleaned.head()

In [ ]:
tetouan_df_cleaned.columns

In [31]:
tetouan_df_cleaned.rename(columns= {'DateTime_cleaned':'DateTime', 
                                    'Temperature':'Temp', 
                                    'Wind Speed':'Wind_Speed',
                                    'DayOfWeek_Monday':'Monday',
                                    'DayOfWeek_Tuesday':'Tuesday',
                                    'DayOfWeek_Wednesday':'Wednesday',
                                    'DayOfWeek_Thursday':'Thursday', 
                                    'DayOfWeek_Friday':'Friday', 
                                    'DayOfWeek_Saturday': 'Saturday',
                                    'DayOfWeek_Sunday': 'Sunday', 
                                    'TimeOfDay_Morning' : 'Morning', 
                                    'TimeOfDay_Afternoon': 'Afternoon',
                                    'TimeOfDay_Evening': 'Evening', 
                                    'TimeOfDay_Night': 'Night', 
                                    'Zone 1 Power Consumption': 'Zone_1_PC',
                                    'Zone 2  Power Consumption': 'Zone_2_PC', 
                                    'Zone 3  Power Consumption': 'Zone_3_PC'},
                                    inplace=True)

In [34]:
# Converting columns from boolean to int
columns_to_convert = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Morning', 'Afternoon', 'Evening', 'Night']
for column in columns_to_convert:
    tetouan_df_cleaned[column] = tetouan_df_cleaned[column].astype(int)

print(tetouan_df_cleaned['Temp'].min(),tetouan_df_cleaned['Temp'].ma)

,DateTime,Temp,Humidity,Wind_Speed,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Morning,Afternoon,Evening,Night,Zone_1_PC,Zone_2_PC,Zone_3_PC
0,2017-01-01 00:00:00,6.559,73.8,0.083,0,0,0,0,0,0,1,0,0,0,1,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0,0,0,0,0,0,1,0,0,0,1,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0,0,0,0,0,0,1,0,0,0,1,29128.10127,19006.68693,19668.43373
3,2017-01-01 00:30:00,6.121,75.0,0.083,0,0,0,0,0,0,1,0,0,0,1,28228.86076,18361.09422,18899.27711
4,2017-01-01 00:40:00,5.921,75.7,0.081,0,0,0,0,0,0,1,0,0,0,1,27335.69620,17872.34043,18442.40964
5,2017-01-01 00:50:00,5.853,76.9,0.081,0,0,0,0,0,0,1,0,0,0,1,26624.81013,17416.41337,18130.12048
6,2017-01-01 01:00:00,5.641,77.7,0.080,0,0,0,0,0,0,1,0,0,0,1,25998.98734,16993.31307,17945.06024
7,2017-01-01 01:10:00,5.496,78.2,0.085,0,0,0,0,0,0,1,0,0,0,1,25446.07595,16661.39818,17459.27711
8,2017-01-01 01:20:00,5.678,78.1,0.081,0,0,0,0,0,0,1,0,0,0,1,24777.72152,16227.35562,17025.54217
9,2017-01-01 01:30:00,5.491,77.3,0.082,0,0,0,0,0,0,1,0,0,0,1,24279.49367,15939.20973,16794.21687
10,2017-01-01 01:40:00,5.516,77.5,0.081,0,0,0,0,0,0,1,0,0,0,1,23896.70886,15435.86626,16638.07229
11,2017-01-01 01:50:00,5.471,76.7,0.083,0,0,0,0,0,0,1,0,0,0,1,23544.30380,15213.37386,16395.18072
12,2017-01-01 02:00:00,5.059,78.6,0.081,0,0,0,0,0,0,1,0,0,0,1,23003.54430,15169.60486,16117.59036
13,2017-01-01 02:10:00,4.968,78.8,0.084,0,0,0,0,0,0,1,0,0,0,1,22329.11392,14710.03040,15822.65060
14,2017-01-01 02:20:00,4.975,78.9,0.083,0,0,0,0,0,0,1,0,0,0,1,22092.15190,14421.88450,15672.28916
15,2017-01-01 02:30:00,4.897,79.1,0.083,0,0,0,0,0,0,1,0,0,0,1,21903.79747,14104.55927,15597.10843
16,2017-01-01 02:40:00,5.020,79.7,0.081,0,0,0,0,0,0,1,0,0,0,1,21685.06329,13965.95745,15510.36145
17,2017-01-01 02:50:00,5.407,78.5,0.082,0,0,0,0,0,0,1,0,0,0,1,21484.55696,13612.15805,15336.86747
18,2017-01-01 03:00:00,5.169,77.9,0.083,0,0,0,0,0,0,1,0,0,0,1,21107.84810,13535.56231,15140.24096
19,2017-01-01 03:10:00,5.081,77.7,0.084,0,0,0,0,0,0,1,0,0,0,1,20998.48101,13371.42857,15059.27711
20,2017-01-01 03:20:00,5.041,77.2,0.081,0,0,0,0,0,0,1,0,0,0,1,20870.88608,13196.35258,15013.01205
21,2017-01-01 03:30:00,5.034,76.9,0.083,0,0,0,0,0,0,1,0,0,0,1,20870.88608,13167.17325,14897.34940
22,2017-01-01 03:40:00,4.896,76.6,0.085,0,0,0,0,0,0,1,0,0,0,1,20597.46835,13137.99392,14602.40964
23,2017-01-01 03:50:00,4.805,76.2,0.081,0,0,0,0,0,0,1,0,0,0,1,20421.26582,12908.20669,14590.84337
24,2017-01-01 04:00:00,4.753,75.7,0.083,0,0,0,0,0,0,1,0,0,0,1,20524.55696,12820.66869,14585.06024
25,2017-01-01 04:10:00,4.901,74.4,0.083,0,0,0,0,0,0,1,0,0,0,1,20482.02532,13032.21884,14452.04819
26,2017-01-01 04:20:00,5.203,74.1,0.085,0,0,0,0,0,0,1,0,0,0,1,20530.63291,12926.44377,14232.28916
27,2017-01-01 04:30:00,5.394,71.9,0.081,0,0,0,0,0,0,1,0,0,0,1,20512.40506,12948.32827,14157.10843
28,2017-01-01 04:40:00,5.156,74.0,0.079,0,0,0,0,0,0,1,0,0,0,1,20494.17722,12922.79635,14232.28916
29,2017-01-01 04:50:00,5.179,74.2,0.083,0,0,0,0,0,0,1,0,0,0,1,20311.89873,12879.02736,14243.85542
30,2017-01-01 05:00:00,4.934,72.9,0.082,0,0,0,0,0,0,1,1,0,0,0,20542.78481,12806.07903,14243.85542
31,2017-01-01 05:10:00,4.718,75.8,0.080,0,0,0,0,0,0,1,1,0,0,0,20621.77215,12853.49544,14105.06024
32,2017-01-01 05:20:00,5.546,74.0,0.082,0,0,0,0,0,0,1,1,0,0,0,20627.84810,12842.55319,14266.98795
33,2017-01-01 05:30:00,4.658,73.5,0.080,0,0,0,0,0,0,1,1,0,0,0,20797.97468,13137.99392,14353.73494
34,2017-01-01 05:40:00,4.382,76.9,0.081,0,0,0,0,0,0,1,1,0,0,0,20858.73418,13203.64742,14538.79518
35,2017-01-01 05:50:00,4.212,78.3,0.081,0,0,0,0,0,0,1,1,0,0,0,21393.41772,13575.68389,14862.65060
36,2017-01-01 06:00:00,4.308,77.2,0.081,0,0,0,0,0,0,1,1,0,0,0,22219.74684,14068.08511,14908.91566
37,2017-01-01 06:10:00,4.735,74.3,0.080,0,0,0,0,0,0,1,1,0,0,0,21928.10127,13852.88754,14729.63855
38,2017-01-01 06:20:00,4.769,75.6,0.082,0,0,0,0,0,0,1,1,0,0,0,21776.20253,13626.74772,14625.54217
39,2017-01-01 06:30:00,4.920,73.7,0.083,0,0,0,0,0,0,1,1,0,0,0,21654.68354,13582.97872,14480.96386
40,2017-01-01 06:40:00,4.408,76.7,0.082,0,0,0,0,0,0,1,1,0,0,0,21466.32911,13539.20973,14319.03614
41,2017-01-01 06:50:00,4.290,77.0,0.085,0,0,0,0,0,0,1,1,0,0,0,20846.58228,12908.20669,14018.31325
42,2017-01-01 07:00:00,4.304,76.0,0.082,0,0,0,0,0,0,1,1,0,0,0,19983.79747,12342.85714,13492.04819
43,2017-01-01 07:10:00,4.513,74.6,0.084,0,0,0,0,0,0,1,1,0,0,0,18908.35443,11897.87234,12630.36145
44,2017-01-01 07:20:00,4.489,74.3,0.082,0,0,0,0,0,0,1,1,0,0,0,18167.08861,11551.36778,11600.96386
45,2017-01-01 07:30:00,4.356,72.3,0.082,0,0,0,0,0,0,1,1,0,0,0,18075.94937,11263.22188,10640.96386
46,2017-01-01 07:40:00,4.478,72.2,0.083,0,0,0,0,0,0,1,1,0,0,0,18063.79747,10719.75684,10455.90361
47,2017-01-01 07:50:00,4.583,71.0,0.083,0,0,0,0,0,0,1,1,0,0,0,18045.56962,10924.01216,10496.38554
48,2017-01-01 08:00:00,4.794,72.0,0.084,0,0,0,0,0,0,1,1,0,0,0,18385.82278,10949.54407,10710.36145
49,2017-01-01 08:10:00,4.807,73.1,0.082,0,0,0,0,0,0,1,1,0,0,0,18987.34177,11347.11246,10837.59036
50,2017-01-01 08:20:00,4.757,73.5,0.083,0,0,0,0,0,0,1,1,0,0,0,19576.70886,11733.73860,10941.68675
51,2017-01-01 08:30:00,4.509,74.5,0.084,0,0,0,0,0,0,1,1,0,0,0,19837.97468,11945.28875,11178.79518
52,2017-01-01 08:40:00,4.346,74.8,0.082,0,0,0,0,0,0,1,1,0,0,0,20166.07595,12029.17933,11514.21687
53,2017-01-01 08:50:00,4.718,73.7,0.081,0,0,0,0,0,0,1,1,0,0,0,20676.45570,12426.74772,11959.51807
54,2017-01-01 09:00:00,4.704,71.8,0.083,0,0,0,0,0,0,1,1,0,0,0,21296.20253,12871.73252,12283.37349
55,2017-01-01 09:10:00,4.624,74.1,0.082,0,0,0,0,0,0,1,1,0,0,0,22043.54430,13203.64742,12427.95181
56,2017-01-01 09:20:00,4.629,74.8,0.083,0,0,0,0,0,0,1,1,0,0,0,22651.13924,13542.85714,12826.98795
57,2017-01-01 09:30:00,4.599,74.0,0.082,0,0,0,0,0,0,1,1,0,0,0,23131.13924,14046.20061,13121.92771
58,2017-01-01 09:40:00,4.524,74.7,0.081,0,0,0,0,0,0,1,1,0,0,0,23641.51899,14392.70517,13648.19277
59,2017-01-01 09:50:00,4.575,74.5,0.082,0,0,0,0,0,0,1,1,0,0,0,24668.35443,14830.39514,13850.60241

In [ ]:
features = tetouan_df_cleaned.drop(columns = ["Zone_1_PC","Zone_2_PC","Zone_3_PC"])
target = tetouan_df_cleaned["Zone_1_PC","Zone_2_PC","Zone_3_PC"]
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

In [ ]:
# Diffuse flows vs general diffuse flows ? 
# amount of diffuse solar radiation received ? compare to the general diffuse radiation
import seaborn as sns
import matplotlib.pyplot as plt
corr=np.abs(tetouan_df_cleaned.corr())

#Set up mask for triangle representation
mask = np.zeros_like(corr, dtype=bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(20, 15))
# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)
# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask,  vmax=1,square=True, linewidths=.5, cbar_kws={"shrink": .5},annot = corr)

plt.show()